BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterControlStatement: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
